<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaodudu.blog.mapper.CategoryMapper">
  <select id="findAll" resultType="com.xiaodudu.blog.entity.Category">
    SELECT * FROM category ORDER BY name ASC
  </select>
  <select id="findById" resultType="com.xiaodudu.blog.entity.Category">
    SELECT * FROM category WHERE id = #{id}
  </select>
  <insert id="insert" parameterType="com.xiaodudu.blog.entity.Category" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO category (name, slug, description) VALUES (#{name}, #{slug}, #{description})
  </insert>
  <update id="update" parameterType="com.xiaodudu.blog.entity.Category">
    UPDATE category SET name = #{name}, slug = #{slug}, description = #{description} WHERE id = #{id}
  </update>
  <delete id="deleteById">
    DELETE FROM category WHERE id = #{id}
  </delete>
</mapper>
